@font-face {
    font-family: Arial;
     src: url("./assets/fonts/arial-regular.ttf");
   }
 
   html{
    scroll-behavior: smooth; 
   }

* {
    box-sizing:border-box;
  }
 .wrapper {
        max-width: 1200px;
        margin: 0 auto; 
        padding:1rem;     
  }
  body{
      background: url("./assets/img/fon.jpg"), rgb(172 170 162);
      background-blend-mode: soft-light;
      font-family: 'Arial',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;

  }
  h1{
    color: #fffffe;
    font-size: 2.5rem;
    margin: 1rem;
    letter-spacing: 0.2rem; 
  }
  .slider-contener{
    height: 432px;
	position: relative;
    margin: 0 auto;
	width: 432px;
  }
  .slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
    opacity: 0;
    z-index: 0;
    transform: scale(1.5);
}
.slide1 { 
    background-image: url("./assets/img/slide1.jpg");
    background-size: cover;
}
.slide2 { 
    background-image: url("./assets/img/slide2.jpg");
    background-size: cover;
}
.slide3 { 
    background-image: url("./assets/img/slide3.jpg");
    background-size: cover;
}
.slide4 { 
    background-image: url("./assets/img/slide4.jpg");
    background-size: cover;
}
.slide5 { 
    background-image: url("./assets/img/slide5.jpg");
    background-size: cover;
}
.controls {
    display: flex;
	margin:0 auto;
    justify-content: end;
}
label {
	cursor: pointer;
	display: inline-block;
    border: 2px solid #ddd;
	height: 1.5rem;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 1.5rem;
	border-radius: 50%;
}
label:hover{
    background-color: #017664;
}
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background-color: #017664;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}